.headContent{
    position: sticky;
    top: 0;
    z-index:100;
    background: #FFFFFF;
}

#logo {
    padding-top: 15px;
    padding-bottom: 0px;
}

#searchsort{
    display: flex;
    flex-direction: row;
}

#searchform{
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

img{
    width: 30%;
}