html {
    height: 100%;
    box-sizing: border-box;	/* Box-size on border for footer */
}
/* Inherit box-sizing for footer stay on bottom on small pages, and at the end of page at large pages */
/**,
*:before,
*:after {
    box-sizing: inherit;
}*/

body {
    position: relative;
    padding-bottom: 6rem;		/* Makes some padding for the footer */
    min-height: 100%;		
}

.swac_navigation_head {
    border-top: 2px solid #00BFFF;
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
}
.swac_navigtion_head img {
    max-height:70px;
}

/* footer */
.swac_navigation_foot {
    position: absolute;
    bottom: 0px;
    height: 75px;
    width: 100%;
    text-align: center;
}
.swac_navigation_foot > nav {
    background: #000000;
}
.swac_navigation_foot img {
    max-height:70px;
}