footer p{
    color: white;
    background-color: black;
    text-align: center;
}

footer a:visited, footer a:link {
    color: white;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    list-style-type: none;
}