/* 
    General styleing for swac components
    Created on : 15.06.2018, 13:36:17
    Author     : ffehring
*/
.swac_repeatForSet {
    display: none;
}
.swac_repeatForAttribute {
    display: none;
}
.swac_repeatForValue {
    display: none;
}
.swac_repeatForPluginNav {
    display: none;
}
.swac_repeatForPluginCont {
    display: none;
}
.swac_dontdisplay {
    display: none !important;
}
[swac_display="true"] {
    display: block;
}
[swac_hide="true"] {
    display: none;
}
.swac_child {
    display: none;
}

.swac_hintmsg {
    border: 2px solid green;
}

.swac_debugmsg {
    min-height: 2px;
    border: 1px solid yellow;
}

.swac_errormsg {
    border: 2px solid red;
}
.swac_screencentered {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 33%;
}

#swac_debugButton {
    color: #ffffff;
    background-color: #000000;
    position: fixed;
    bottom: 0px;
    right: 0px;
}